:root {
  --primary-dark: #121212;
  --primary-white: #fcfbfa;
  --accent: #ae2022;
  --shade: #323231;
}

body {
  background-color: var(--primary-dark);
  color: var(--primary-white);
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo-container {
  margin: 40px;
  width: calc(100% - 80px);
  height: calc(var(--vh, 1vh) * 100 - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  border: 1px solid var(--shade);
  border-radius: 40px;
}

.logo {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-white);
  position: relative;
  display: inline-block;
}

.logo h1 {
  font-size: 8rem;
  z-index: 2;
  margin: 0;
}

.in-text {
  font-size: 3.2rem;
  position: absolute;
  bottom: -14px;
  right: -26px;
}

.in-text span#dot {
  color: var(--accent);
}

.custom-container {
  width: calc(100% - 80px);
  margin: 0 40px 40px 40px;
}

.column-box {
  border: 1px solid var(--shade);
  border-radius: 32px;
}

.film-grain {
    content:"";
    background-image:url("image/filmgrain.webp");
    height: 400%;
    width: 400%;
    position: fixed;
    opacity:0.06;
    animation: animateGrain 8s steps(10) infinite;
    z-index: 1;
}

@keyframes animateGrain{
  0%, 100% { transform:translate(0, 0) }
  10%{
    transform:translate(-5%,-10%)
  }
  20%{
    transform:translate(-15%,-20%)
  }
  30%{
    transform:translate(-5%,-10%)
  }
  40%{
    transform:translate(-15%,-20%)
  }
  
  50%{
    transform:translate(-5%,-10%)
  }
  60%{
    transform:translate(-15%,-20%)
  }
  70%{
    transform:translate(-5%,-10%)
  }
  80%{
    transform:translate(-15%,-20%)
  }
  90%{
    transform:translate(-5%,-10%)
  }
  100%{
    transform:translate(-15%,-20%)
  }
 
}

@media (max-width: 1200px) {
    .logo h1 {
        font-size: 6rem;
    }
    .in-text {
        font-size: 3rem;
        bottom: -16px;
        right: -30px;
    }
}

@media (max-width: 768px) {
    .logo-container {
        margin: 32px;
        border-radius: 32px;
        width: calc(100% - 64px);
        height: calc(var(--vh, 1vh) * 100 - 64px);
    }
    .logo h1 {
        font-size: 4rem;
    }
    .in-text {
        font-size: 2.2rem;
        bottom: -12px;
        right: -26px;
    }
    .custom-container {
      width: calc(100% - 64px);
      margin: 0 32px 40px 32px;
    }
    .row {
      flex-direction: column;
    }
    .column-box {
      margin-bottom: 16px;
    }
}

@media (max-width: 576px) {
    .logo-container {
        margin: 16px;
        border-radius: 24px;
        width: calc(100% - 32px);
        height: calc(var(--vh, 1vh) * 100 - 32px);
    }
    .logo h1 {
        font-size: 4rem;
    }
    .in-text {
        font-size: 2rem;
        bottom: -10px;
        right: -22px;
    }
    .custom-container {
      width: calc(100% - 32px);
      margin: 0 16px 40px 16px;
    }
    .row {
      flex-direction: column;
    }
    .column-box {
      margin-bottom: 16px;
    }
    .image-fluid {
      width: 100%!important;
    }
}
        